
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
        .col-centered{
            float: none;
            margin: 0 auto;
        }
        body {
            background-image: url("https://www.arum.co.uk/wp-content/uploads/2013/11/site-background.jpg");
            background-color: #cccccc;
        }
    </style>
</head>
<body>
<header>
    <br />
    <h1 class="text-center">Регистрация</h1>
    <br />
</header>
<div class="container-fluid border border-dark col-md-3 col-centered bg-light text-center" >

    {{ form_start(form) }}
    Логин <br />
    {{ form_widget(form.username, {'attr': {'onkeyup': 'checkLogin(this.value)'}}) }}  <br />
    <span id="check_login"></span>
    {{ form_errors(form.username) }} <br />

    {{ form_label(form.email) }} <br />
    {{ form_widget(form.email) }} <br />
    {{ form_errors(form.email) }} <br />

    Пароль <br />
    {{ form_widget(form.plainPassword.first) }} <br />
    {{ form_errors(form.plainPassword.first) }} <br />

    Пароль ещё раз <br />
    {{ form_widget(form.plainPassword.second) }} <br />
    {{ form_errors(form.plainPassword.second) }} <br />

    <input type="button" value="На главную" onClick='location.href="{{ path('homepage') }}"'>
    <button type="submit">Зарегистрироваться</button>
    <br />
    <br />
    {{ form_end(form) }}
</div>


<script type="text/javascript">
    /* Функция, создающая экземпляр XMLHTTP */
    function getXmlHttp() {
        var xmlhttp;
        try {
            xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
            try {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (E) {
                xmlhttp = false;
            }
        }
        if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
            xmlhttp = new XMLHttpRequest();
        }
        return xmlhttp;
    }
    function checkLogin(login) {
        var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP
        xmlhttp.open('POST', '{{ path('new') }}', true); // Открываем асинхронное соединение
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем тип содержимого
        xmlhttp.send("login=" + encodeURIComponent(login)); // Отправляем POST-запрос
        xmlhttp.onreadystatechange = function() { // Ждём ответа от сервера
            if (xmlhttp.readyState == 4) { // Ответ пришёл
                if(xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                    if (xmlhttp.responseText) document.getElementById("check_login").innerHTML = 'Логин занят';
                    else document.getElementById("check_login").innerHTML='Логин свободен';
                }
            }
        };
    }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>